body {
    background-image: url("../assets/site/mapblue.jpg");
    background-size: cover;
}

.person {
    display: inline-block;
}

.person img:hover {
    opacity: 0%;
}

footer {
    float: right;
}